<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
        <!-- anchor:status-titles:start -->
      <th>
          <span data-bind="translate: 'rentWork.car.carModel'"></span>
      </th>
      <th data-bind="sortableColumn: {target: $parent, column: 'color'}">
          <span data-bind="translate: 'rentWork.car.color'"></span>
          <i class="sortable"></i>
      </th>
      <th>
          <span data-bind="translate: 'rentWork.car.fleetLocation'"></span>
      </th>
      <th data-bind="sortableColumn: {target: $parent, column: 'licensePlate'}">
          <span data-bind="translate: 'rentWork.car.licensePlate'"></span>
          <i class="sortable"></i>
      </th>
      <th data-bind="sortableColumn: {target: $parent, column: 'yearOfProduction'}">
          <span data-bind="translate: 'rentWork.car.yearOfProduction'"></span>
          <i class="sortable"></i>
      </th>
        <!-- anchor:status-titles:end -->
    </tr>
  </thead>
  <tbody data-bind="foreach: items">
    <tr data-bind="click: $parent.selectRow, css: {'info': $parent.isSelectedItem($data)}">
    <!-- anchor:status-columns:start -->
        <td>
            <span data-bind="with: carModel">
              <a href="#" data-bind="click: $parents[2].viewing.viewItem, clickBubble: false">
                <span data-bind="text: name"></span>
              </a>
            </span>
        </td>
        <td>
            <span data-bind='text: color'></span>
        </td>
        <td>
            <span data-bind="with: fleetLocation">
              <a href="#" data-bind="click: $parents[2].viewing.viewItem, clickBubble: false">
                <span data-bind="text: name"></span>
              </a>
            </span>
        </td>
        <td>
            <span data-bind='text: licensePlate'></span>
        </td>
        <td>
            <span data-bind='text: yearOfProduction'></span>
        </td>
    <!-- anchor:status-columns:end -->
    </tr>
    </tbody>
</table>
